.-phone-plus4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.-phone-plus4-i-phone-plus4 {
  width: 100%;
  height: 767px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(27, 27, 27, 1);
}
.-phone-plus4-group12 {
  top: 0px;
  left: 0px;
  width: 479px;
  height: 816.4052124023438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.-phone-plus4-group6 {
  top: 0px;
  left: 0px;
  width: 479px;
  height: 767px;
  position: absolute;
}
.-phone-plus4-image50762602 {
  top: 26.42391014099121px;
  left: 28.368011474609375px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.-phone-plus4-rectangle26 {
  top: 31.138946533203125px;
  left: 394.96044921875px;
  width: 44px;
  height: 44px;
  position: absolute;
  border-radius: 150px;
}
.-phone-plus4-listeningtogoodmusicmakesyourmoodbetter {
  top: 116px;
  left: 58.0009765625px;
  width: 363px;
  height: 67px;
  position: absolute;
}
.-phone-plus4-text {
  top: 196.50473022460938px;
  left: 48.642578125px;
  color: rgba(138, 138, 138, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-phone-plus4-scrolldown {
  top: 249px;
  left: 201.9990234375px;
  width: 75px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.-phone-plus4-text02 {
  color: rgba(138, 138, 138, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 7px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-phone-plus4-push-down-icon {
  top: 253px;
  left: 253.9990234375px;
  width: 19px;
  height: 30px;
  position: absolute;
}
.-phone-plus4-fotokiri {
  top: 285px;
  left: 0px;
  width: 108px;
  height: 298px;
  position: absolute;
}
.-phone-plus4-fototengah {
  top: 285px;
  left: 118.9990234375px;
  width: 241px;
  height: 364.4928894042969px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.-phone-plus4-group5 {
  top: 0px;
  left: 0px;
  width: 241px;
  height: 297px;
  position: absolute;
}
.-phone-plus4-layerblur {
  top: 158.6883087158203px;
  left: 10.348743438720703px;
  width: 220.6809539794922px;
  height: 205.80458068847656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(40, 40, 40, 0.5);
}
.-phone-plus4-group9 {
  top: 27.181772232055664px;
  left: 19.07142448425293px;
  width: 181.1763458251953px;
  height: 60.58145523071289px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.-phone-plus4-text04 {
  top: 46.602256774902344px;
  left: 28.470966339111328px;
  color: rgba(138, 138, 138, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-phone-plus4-text06 {
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-phone-plus4-playbutton {
  top: 166.1968536376953px;
  left: 7.651432037353516px;
  width: 201.4506378173828px;
  height: 35.114837646484375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.-phone-plus4-play-button1 {
  top: 15.114837646484375px;
  left: 0px;
  width: 22px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
}
.-phone-plus4-play-button2 {
  top: 3px;
  left: 4px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.-phone-plus4-rectangle31 {
  top: 0px;
  left: 3.2464256286621094px;
  width: 198px;
  height: 2px;
  position: absolute;
  border-radius: 100px;
}
.-phone-plus4-rectangle32 {
  top: 0px;
  left: 3.2464256286621094px;
  width: 86px;
  height: 2px;
  position: absolute;
  border-radius: 100px;
}
.-phone-plus4-text11 {
  top: 18.11483383178711px;
  left: 28px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Black;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-phone-plus4-text13 {
  left: 147px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  bottom: 3px;
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Bold;
  text-align: center;
  font-family: Damascus;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-phone-plus4-options-icon {
  top: 16.114837646484375px;
  left: 174px;
  width: 27px;
  height: 19px;
  position: absolute;
}
.-phone-plus4-waves {
  top: 110.31169128417969px;
  left: 0.6514892578125px;
  width: 219.2484893798828px;
  height: 40.80308151245117px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.-phone-plus4-rectangle33 {
  top: 18.860061645507812px;
  left: 0.00004664416701416485px;
  width: 68px;
  height: 2px;
  position: absolute;
  border-radius: 100px;
}
.-phone-plus4-rectangle34 {
  top: 18.860061645507812px;
  left: 150.88075256347656px;
  width: 68px;
  height: 2px;
  position: absolute;
  border-radius: 100px;
}
.-phone-plus4-audiowaves1 {
  top: -0.0000629831847618334px;
  left: 71.90420532226562px;
  width: 35px;
  height: 40px;
  position: absolute;
}
.-phone-plus4-audiowaves2 {
  top: -1px;
  left: 112px;
  width: 35px;
  height: 41px;
  position: absolute;
}
.-phone-plus4-fotokanan {
  top: 285px;
  left: 371px;
  width: 108px;
  height: 297px;
  position: absolute;
}
.-phone-plus4-downloadforoffline {
  top: 40px;
  left: 404.00067138671875px;
  width: 25px;
  height: 26px;
  position: absolute;
}
.-phone-plus4-home {
  top: 797.5319213867188px;
  left: 69.31332397460938px;
  width: 17.52518081665039px;
  height: 18.87327003479004px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.-phone-plus4-home-icon-a {
  top: 0px;
  left: 0px;
  width: 17.52518081665039px;
  height: 18.87327003479004px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.-phone-plus4-group17 {
  top: 701px;
  left: 28px;
  width: 418.4579772949219px;
  height: 42.435176849365234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(40, 40, 40, 0.5);
}
.-phone-plus4-vector {
  top: 10.608642578125px;
  left: 286.4365234375px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.-phone-plus4-vector1 {
  top: 10.608642578125px;
  left: 368.9501953125px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.-phone-plus4-vector2 {
  top: 11.78753662109375px;
  left: 200.3876953125px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.-phone-plus4-vector3 {
  top: 11.78753662109375px;
  left: 116.6962890625px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.-phone-plus4-vector4 {
  top: 9.4580078125px;
  left: 30.6318359375px;
  width: 24px;
  height: 24px;
  position: absolute;
}
